body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.first {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color: white;

    }
    a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto';
        
        margin: 0 10px;
    }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 10px 20px;
    box-sizing: border-box;
    
}
.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 20px 40px;
    box-sizing: border-box;
    margin: 0 auto;
}

.image1 {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    
}
.firstimage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.imageheader {
    display: flex;
    justify-content: center;
}
.left-content{
    width: 400px;
    word-wrap: break-word;
    font-family: 'Roboto',sans-serif;
    text-indent: 20px;
}